  html,body{
  margin: 0;
  height: 100%;
}

#aside-left{
    display: inline-block;
    height: 100%;
    width: 30%;
    float: left;
    background-image: url('./../images/background.jpg');
}
#center{
  display: inline-block;
  background-image: url('./../images/background.jpg');
  height: 100%;
  width: 40%;
  float: left;
  position: relative;
}
.car-main{
  width: 15%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 120px;
  position: absolute;
  left: 45%;
  bottom: 2px;
  background-image: url('./../images/car.png');
}
.enemy{
  width: 15%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 120px;
  position: absolute;
  left: 45%;
  bottom: 2px;
  background-image: url('./../images/enemy.png');
}
.start-screen{
  width: 80%;
  height: 120px;
  text-align: center;
  font-size: 2em;
  margin: 50% auto;
  background-color: white;
  border-radius: 25px;
  border: 2px solid #73AD21;
}
.start-screen p{
    font-size: 1em;
    padding-top: 35px;
    margin: 0 auto;
    text-align: center;
}
#aside-right{
    display: inline-block;
    background-color: #383b36;
    height: 100%;
    width: 30%;
    background-image: url('./../images/background.jpg');
}
.score{
  height: 8%;
  width: 50%;
  margin: 14% 22%;
  background-color: red;
}
.game-screen{
  position: relative;
  display: inline-block;
  background-color: #212121;
  height: 100%;
  width: 100%;
  float: left;
  overflow: hidden;
  border-left: 6px dashed #c8d6e5;
  border-right: 6px dashed #c8d6e5;
}
.lines{
  width: 10px;
  height: 100px;
  background-color: white;
  margin-left:284px;
  position: absolute;
}
.hide{
  display: none;
}
.score{
  background: green;
  line-height: 50px;
  text-align: center;
  color: white;
  font-size: 1.5em;
}
